# Godot 4+ specific ignores
.godot/

# Godot translation csv2bin files ignores
*.translation

# Godot android build ignores
android/

# These unformatted readme files ignores
*.md

# These file may cause personal-info leaks
# *.import

# These are some addons can be ignored
addons/

ios_plugins/